<table class="el-date-table" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <th *ngFor="let week of weeks">{{week}}</th>
    </tr>
    <tr class="el-date-table__row" *ngFor="let row of tableRows">
      <td *ngFor="let item of row" [class.available]="item.monthOffset === 0" [class.next-month]="item.monthOffset === 1" [class.prev-month]="item.monthOffset === -1"
        [class.normal]="item.monthOffset === 0" [class.today]="isToday(item)" [class.current]="isTargetDay(item)" (click)="clickHandle(item)">
        <div>
          <span>{{item.day}}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
