<div [ngStyle]="{width:show?'280px':'auto'}" [class]="'datepicker-panel datepicker'" [class.has-time]="showTime" [class.datepick-panel-show]="show">
  <div class="datepicker-panel__body-wrapper">
    <div class="datepicker-panel__body">
      <div class="datepicker__header">
        <span class="datepicker-panel__icon-btn datepicker__prev-btn el-icon-d-arrow-left" type="button" (click)="nextYear(-1)">
          &lt;&lt; </span>
            <span class="datepicker-panel__icon-btn datepicker__prev-btn el-icon-arrow-left" type="button" (click)="nextMonth(-1)"
              *ngIf="currentView === 'date'">&lt;
            </span>

            <!--year label-->
            <span class="datepicker__header-label" *ngIf="currentView !== 'year'" (click)="showPicker('year')">{{dateShowModels.year}} 年</span>
            <!--year range label-->
            <span class="datepicker__header-label" *ngIf="currentView === 'year'">
              {{dateShowModels.yearRange[0]}} 年 - {{dateShowModels.yearRange[1]}} 年
            </span>
            <span style='padding:0 5px;' *ngIf="currentView === 'date'"></span>
            <span class="datepicker__header-label" [class.active]="currentView === 'month'" (click)="showPicker('month')" *ngIf="currentView === 'date'">{{dateShowModels.month + 1}} 月</span>
            <span class="datepicker-panel__icon-btn datepicker__next-btn el-icon-arrow-right" type="button" (click)="nextMonth(1)" 
              *ngIf="currentView === 'date'">&gt;
            </span>
            <span class="datepicker-panel__icon-btn datepicker__next-btn el-icon-d-arrow-right" type="button"  (click)="nextYear(1)">&gt;&gt;
            </span>
            
      </div>

      <div class="datepicker-panel__content">
        <app-date-table *ngIf="currentView === 'date' && !hiddenDay" (modelChange)="datePickChangeHandle($event)" [model]="model" [minTime]='minTime' [maxTime]='maxTime'>
        </app-date-table>
        <app-year-table *ngIf="currentView === 'year'" [model]="model" (modelChange)="yearPickChangeHandle($event)" [minTime]='minTime' [maxTime]='maxTime'>
        </app-year-table>
        <app-month-table *ngIf="currentView === 'month'" [model]="model" (modelChange)="monthPickChangeHandle($event)" [minTime]='minTime' [maxTime]='maxTime'>
        </app-month-table>
        <div style="height: 10px;"></div>
      </div>
    </div>
  </div>

</div>